p{
    margin: 0;
    padding: 0;
}

/* boton amarillo inscribeme */
.btnPrimary{
    background: #FFC80A;
    border-radius: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPrimary p{
    font-size: 16px;
    color: #000000;
    letter-spacing: 3.2px;
    text-align: center;
    text-transform: uppercase;
}

.btnInscribeme{
    width: 202px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnInscribeme p{
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #000000;
}

.btnImage{
    background: url(../../assets/img/Boton_DUBAI.jpg);
    /* opacity: 0.43; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px
}

.btnImage p {
    font-size: 20px;
color: #FFFFFF;
letter-spacing: 4px;

}