.headerCardOffer hr {
    margin-top: 32px;
    border: 1px solid #DBDBDB
}

.headerCardContentOffer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between
}

.headerCardFacilities {
    display: flex;
    align-items: center;
    justify-content: center;
}